html body {
  background-color: #FAFAFA;
}

body {
  -webkit-transition: background 0.2s linear;
  transition: background 0.2s linear;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  width: 50px;
  height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50px;
  background-color: #242D44;
  position: relative;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.fa-moon {
  color: #dfe7fd;
  margin-left: 12px;
}

.fa-sun {
  color: #ffee99;
}

.ball {
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  background-color: #fff6cc;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  -webkit-transform: translateX(24px);
          transform: translateX(24px);
  background-color: #E5E4E1;
}

div .header {
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.bcg-img img {
  z-index: -9999;
  position: absolute;
}

#todo {
  height: 4rem;
  width: 100%;
  max-width: 34rem;
  border-radius: 5px;
  margin: 0 auto;
  font-size: 18px;
}

#todo input {
  outline: none;
  border: none;
  width: 100%;
  text-indent: 20px;
}

.checkbox {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border: 2px solid transparent;
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) padding-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  margin-left: 10px;
}

.bi-circle {
  height: 24px;
  width: 24px;
  border: 2px solid transparent;
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) padding-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  margin: 0 10px 0 10px;
}

.checkedSvg {
  margin: 0 10px 0 10px;
}

.todo-stats {
  margin: 0 auto;
  padding: 0rem;
  width: 100%;
  max-width: 34rem;
  border-radius: 0px 0px 4px 4px;
}

.todo-stats p {
  margin: 0rem;
  padding: 0rem;
}

.todo-stats button {
  border: none;
  background: transparent;
}

.todo--items .todo--items__lists {
  border-radius: 4px 4px 0px 0px;
  width: 100%;
  max-width: 34rem;
  padding: 0px;
  margin-top: 2rem;
  margin-bottom: 0px;
}

.todo--items .todo--items__lists .todo--item {
  list-style: none;
  padding: 10px 0;
  font-size: 18px;
}

.todo--items .todo--items__lists .todo--item button:nth-child(2) {
  float: right;
}

.todo--items .todo--items__lists .todo--item button {
  padding: 0px;
  padding-right: 5px;
  background-color: transparent;
  border: none;
}

.todo--items .todo--items__lists .todo--item button .bi-x {
  font-size: 25px;
  color: #494C6B;
}

/* TODO COMPLETED */
.completedItem {
  text-decoration: line-through;
  opacity: 0.9;
}

.light_mode #todo {
  background-color: #ffffff;
}

.light_mode #todo .checkbox {
  background: #E3E4F1;
}

.light_mode #todo .checkbox:hover {
  background: linear-gradient(135deg, #55DDFF 0%, #C058F3 100%) border-box;
}

.light_mode #todo input::-moz-selection {
  background: #577d86;
  color: #ffffff;
}

.light_mode #todo input::selection {
  background: #577d86;
  color: #ffffff;
}

.light_mode #todo input::-webkit-input-placeholder {
  color: #9495A5;
}

.light_mode #todo input:-ms-input-placeholder {
  color: #9495A5;
}

.light_mode #todo input::-ms-input-placeholder {
  color: #9495A5;
}

.light_mode #todo input::placeholder {
  color: #9495A5;
}

.light_mode #todo input {
  color: #393A4B;
}

.light_mode .todo--items {
  -webkit-transition: background 2s linear;
  transition: background 2s linear;
}

.light_mode .todo--items .todo--items__lists {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px 0px #00000040;
          box-shadow: 0px 4px 4px 0px #00000040;
}

.light_mode .todo--items .todo--items__lists .todo--item {
  border-bottom: 1px #E3E4F1 solid;
}

.light_mode .todo--items .todo--items__lists .todo--item .checkedHover:hover {
  background: linear-gradient(135deg, #55DDFF 0%, #C058F3 100%) border-box;
}

.light_mode .todo--items .todo--items__lists .todo--item .checkedHover {
  background: #E3E4F1;
}

.light_mode .todo-stats .todo-stats__phone .todo-stats__items__count__text {
  color: #9495A5;
  font-weight: 700;
}

@media (min-width: 768px) {
  .light_mode .todo-stats {
    background-color: #ffffff;
    -webkit-box-shadow: 0px 4px 4px 0px #00000040;
            box-shadow: 0px 4px 4px 0px #00000040;
  }
  .light_mode .todo-stats button {
    color: #9495A5;
    font-weight: 700;
  }
  .light_mode .todo-stats .todo-stats__web button:hover {
    color: #494C6B;
  }
  .light_mode .todo-stats .todo-stats__web button {
    color: #9495A5;
    font-weight: 700;
  }
}

@media (max-width: 767px) {
  .light_mode .todo-stats .todo-stats__phone {
    background-color: #ffffff;
    -webkit-box-shadow: 0px 4px 4px 0px #00000040;
            box-shadow: 0px 4px 4px 0px #00000040;
  }
  .light_mode .todo-stats .todo-stats__phone button {
    color: #9495A5;
  }
  .light_mode .todo-stats .todo-stats__web {
    background-color: #ffffff;
    -webkit-box-shadow: 0px 4px 4px 0px #00000040;
            box-shadow: 0px 4px 4px 0px #00000040;
  }
  .light_mode .todo-stats .todo-stats__web button:hover {
    color: #494C6B;
  }
  .light_mode .todo-stats .todo-stats__web button {
    font-weight: 700;
    color: #9495A5;
  }
}

.dark_mode #todo {
  background-color: #25273D;
  -webkit-box-shadow: 0px 35px 50px -15px #00000080;
          box-shadow: 0px 35px 50px -15px #00000080;
}

.dark_mode #todo .checkbox {
  background: #393A4B;
}

.dark_mode #todo .checkbox:hover {
  background: linear-gradient(135deg, #55DDFF 0%, #C058F3 100%) border-box;
}

.dark_mode #todo input {
  background: #25273D;
  color: #C8CBE7;
}

.dark_mode .todo--items .todo--items__lists {
  background-color: #25273D;
  -webkit-box-shadow: 0px 4px 4px 0px #00000040;
          box-shadow: 0px 4px 4px 0px #00000040;
}

.dark_mode .todo--items .todo--items__lists .todo--item {
  border-bottom: 1px #393A4B solid;
  color: #C8CBE7;
}

.dark_mode .todo--items .todo--items__lists .todo--item .checkedHover:hover {
  background: linear-gradient(135deg, #55DDFF 0%, #C058F3 100%) border-box;
}

.dark_mode .todo--items .todo--items__lists .todo--item .checkedHover {
  background: #393A4B;
}

.dark_mode .todo-stats .todo-stats__phone .todo-stats__items__count__text {
  color: #5B5E7E;
}

@media (min-width: 768px) {
  .dark_mode .todo-stats {
    background-color: #25273D;
    -webkit-box-shadow: 0px 4px 4px 0px #00000040;
            box-shadow: 0px 4px 4px 0px #00000040;
    color: #5B5E7E;
  }
  .dark_mode .todo-stats button:hover {
    color: #E3E4F1;
  }
  .dark_mode .todo-stats button {
    font-weight: 700;
    color: #5B5E7E;
  }
}

@media (max-width: 767px) {
  .dark_mode .todo-stats .todo-stats--phone {
    background-color: #25273D;
    -webkit-box-shadow: 0px 4px 4px 0px #00000040;
            box-shadow: 0px 4px 4px 0px #00000040;
    color: #5B5E7E;
  }
  .dark_mode .todo-stats .todo-stats--phone button:hover {
    color: unset;
  }
  .dark_mode .todo-stats .todo-stats--phone button {
    color: #5B5E7E;
  }
  .dark_mode .todo-stats .todo-stats__web {
    background-color: #25273D;
    -webkit-box-shadow: 0px 4px 4px 0px #00000040;
            box-shadow: 0px 4px 4px 0px #00000040;
    color: #5B5E7E;
  }
  .dark_mode .todo-stats button {
    color: #5B5E7E;
  }
}

@media (min-width: 768px) {
  .todo-stats {
    height: 4rem;
  }
  .todo-stats .todo-stats__phone .todo-stats__items__count__text {
    font-weight: 700;
  }
}

@media (max-width: 767px) {
  .todo-stats .todo-stats__phone {
    height: 3rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    max-width: 34rem;
  }
  .todo-stats .todo-stats__phone button:hover {
    color: #5B5E7E;
  }
  .todo-stats .todo-stats__phone button {
    font-weight: 700;
    color: #5B5E7E;
  }
  .todo-stats .todo-stats__web {
    margin-top: 3.125rem;
    height: 3rem;
    width: 100%;
    max-width: 34rem;
    border-radius: 5px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .todo-stats .todo-stats__web button {
    font-weight: 700;
    color: #5B5E7E;
  }
}

.checkedHover {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border: 2px solid transparent;
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) padding-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  margin: 0 10px 0 10px;
}
/*# sourceMappingURL=style.css.map */